<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TakeHomeTest">
  <test thread-count="5" name="Test">
  <classes>
  <class name ='E2ETestCases.RegisterationStep'/>
  <class name ='E2ETestCases.LoginStep'/>
  <class name ='E2ETestCases.PlaceOrder'/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- TakeHomeTest -->
